{{post = this.post}}
<div class="post">
	<a href="/accounts/{{-post.author.id}}" class="avatar">
		{{if this.post.isBusiness:}}
			<img src="{{-post.author.avatar}}" alt="Avatar"/>
		{{else:}}
			<img src="{{-post.author.avatar()}}" alt="Avatar"/>
		{{end}}
	</a>
	<div class="post-contents">
		<div class="top">
			<div class="likedislike">
				<span class="like" onclick="hitLike('1','{{-this.post.id}}')" style="color: #FF9E80; cursor: pointer">
					<i class="fa fa-thumbs-up"></i>&nbsp;<span id="like{{-this.post.id}}"></span></span>
					 <span class="like"  onclick="hitLike('-1','{{-this.post.id}}')"  style="color: #f00; cursor: pointer"><i class="fa fa-thumbs-down"></i> &nbsp;<span id="dislike{{-this.post.id}}"></span></span></div>
			 
			<div class="left">
				{{if this.post.isBusiness:}}
					<a href="/{{-post.author.address}}" class="author">{{-post.author.name}}</a>
					
				{{else:}}
					<a href="/accounts/{{-post.author.id}}" class="author">{{-post.author.full_name}}</a>
					
				{{end}}
							</div>
			<div class="right">
				{{if this.account and this.account.business and this.account.business.id is post.author.id:}}
					<a href="/posts/delete?id={{-post.id}}" class="delete" onclick="return confirm('Are you sure?');">delete</a>
				{{else if this.account and this.account.id is post.author.id:}}
					<a href="/posts/delete?id={{-post.id}}" class="delete" onclick="return confirm('Are you sure?');">delete</a>
				{{end}}
				<div class="time">
                  {{- dates.months[new Date(parseInt(post.time)).getMonth()]}}
					{{- new Date(parseInt(post.time)).getDate() }},
					{{- new Date(parseInt(post.time)).getFullYear() }}
				</div>
			</div>
		</div>
		<div class="message">{{-nl2br post.message}}</div>
		{{if post.url:}}
			<div class="message"><a href="{{-nl2br post.url}}" target="blank">{{-nl2br post.url}}</a></div>
		{{end}}
		
		{{ ftype=post.image_name.split('.').pop()}}
		{{if ftype=='mp4':}}
		<video width="320" height="240" controls ><source src="/uploads/pictures/original/{{-post.image_name}}"  type="video/mp4"></video>
		{{else if ftype=='ogg':}}
		<video  width="320" height="240" controls ><source src="/uploads/pictures/original/{{-post.image_name}}" type="video/ogg"></video>
		{{else:}}
			<div class="image"><img src="/uploads/pictures/original/{{-post.image_name}}" width="300" height="250"></div>
		{{end}}
        <script>
            $.get("/totallikedislike", {"postId":"{{-this.post.id}}"},function(resl){
                resl = $.parseJSON(resl)
                $("#like"+resl.postId).html(resl.totalLike)
                
                $("#dislike"+resl.postId).html(resl.totalDislike)
                
            })
        </script>

	</div>
</div>
